//Определить кратно введенное число с клавиатуры 5 или нет.

#include <iostream> // прикрепляем библиотеку ввода/вывода
using namespace std; // используем пространственные имена для библиотек

int main() // исходная точка
{
	cout << "Autor: Biriukov Oleksandr <25PR21>" << endl; // оператор вывода на экран текста

	int a; // присваиваем значение с помощью типа данных

	cout << "Vvedite chislo: "; // оператор вывода на экран текста
	cin >> a; //вводим в консоли переменную, оператор ввода с клавиатуры
	// условный оператор if
	if (a % 5 == 0)
		cout << "Yes\n"; // оператор вывода на экран текста
	else
		cout << "No\n"; // оператор вывода на экран текста

	system ("pause"); // ожидание дальнейших действий пользователя 
	 
}


//Написать программу, которая вычисляет минимум двух введенных пользователем чисел.

#include <iostream> // прикрепляем библиотеку ввода/вывода
using namespace std; // используем пространственные имена для библиотек

void main() // исходная точка
{
	cout << "Autor: Biriukov Oleksandr <25PR21>" << endl; // оператор вывода на экран текста
	int a, b;  // присваиваем значение с помощью типа данных

    cout << "enter first number: ";  // оператор вывода на экран текста
    cin >> a; //вводим в консоли переменную, оператор ввода с клавиатуры
	cout << "enter second number: "; // оператор вывода на экран текста
	cin >> b; //вводим в консоли переменную, оператор ввода с клавиатуры

    cout << "minimum: " << min(a, b) << endl;  // оператор вывода на экран текста

	system ("pause"); // ожидание дальнейших действий пользователя 
}




//Написать задачу перевода милей в километры так, чтобы можно было выбрать из чего, во что переводить. Одна миля – 1.609 км.

#include <iostream> // прикрепляем библиотеку ввода/вывода
using namespace std; // используем пространственные имена для библиотек

void main() // исходная точка
{
	cout << "Autor: Biriukov Oleksandr <25PR21>" << endl; // оператор вывода на экран текста
	int flag = -1; //присваиваем инту значение с заданым значением для возможности выбора одного из вариантов
	double km, miles; // присваиваем значение с помощью типа данных
	const double mil = 1.609; // присваиваем одной миле константу, постоянное значение

	cout << "Enter 1 if km or 2 if miles "; // оператор вывода на экран текста
	cin >> flag; //вводим в консоли переменную, оператор ввода с клавиатуры
	//  условный оператор if для вычесления выражения
	if (1 == flag)
	{
		cout << "Enter distance km = ";  // оператор вывода на экран текста
		cin >> miles; //вводим в консоли переменную, оператор ввода с клавиатуры
		km = (miles / mil); //задаем значение для определения км
		cout << "Miles = " << km << endl; // оператор вывода на экран текста
		 
	} 
	else if (2 == flag)
	{

		cout << "Enter distance miles = "; // оператор вывода на экран текста
		cin >> miles; //вводим в консоли переменную, оператор ввода с клавиатуры
		km = (miles * mil); // задаем значение для опеределения миль
		cout << "Km = " << km << endl; // оператор вывода на экран текста
	}
	else 
		cout << "flag != 1 && flag !=2"; // оператор вывода на экран текста, здесь указана граница

	system ("pause"); // ожидание дальнейших действий пользователя 

}





//С клавиатуры вводится число в диапазоне от 100 до 999. Является ли сумма цифр этого числа четной?

#include <iostream> // прикрепляем библиотеку ввода/вывода
using namespace std; // используем пространственные имена для библиотек

void main() // исходная точка
{ 
	cout << "Autor: Biriukov Oleksandr <25PR21>" << endl; // оператор вывода на экран текста
	int sum = 0; // присваиваем значение с помощью типа данных
	int value = 0; // присваиваем значение с помощью типа данных
	cout << "Vvedite chislo ot 100 do 999: "; // оператор вывода на экран текста
	cin >> value; //вводим в консоли переменную, оператор ввода с клавиатуры

	sum = value / 100 + ( value % 100) / 10 + value % 10; // задана формула по которой считается сумма 3-х значного числа
	// условный оператор if для вычисления заданой задачи
	if (0 == sum%2)
	{
		cout << "Chetnui " << sum << endl; // оператор вывода на экран текста

	} 
	else 
	{
		cout << "Ne chetnui " << sum << endl; // оператор вывода на экран текста
	} 

	system ("pause"); // ожидание дальнейших действий пользователя 
}




//Проходит ли график функции y = 2x + 5 через точку с координатами a, b?

#include <iostream> // прикрепляем библиотеку ввода/вывода
using namespace std; // используем пространственные имена для библиотек

void main() // исходная точка
{
	cout << "Autor: Biriukov Oleksandr <25PR21>" << endl; // оператор вывода на экран текста
	int a = 0, b = 0; // присваиваем значение с помощью типа данных
	
	
	cout << "Vvedite koordinatu a, b: " << "\n"; // оператор вывода на экран текста
	cin >> a; //вводим в консоли переменную, оператор ввода с клавиатуры
	cin >> b; //вводим в консоли переменную, оператор ввода с клавиатуры


	a = 2 * a + 5; // формула по которой узнаем проходит ли график функции через точку
	// условный оператор if
	if (a == b) 
		cout << "Prohodit" << endl; // оператор вывода на экран текста
	else 
		cout << "Ne prohodit" << endl;  // оператор вывода на экран текста
	
	system ("pause"); // ожидание дальнейших действий пользователя 
}
